body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #e1edda;
  color: #1e392a;
}

html {
  scroll-behavior: smooth;
}


.sort-by {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-by select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #2f5c3b;
}

.produits-page {
  display: flex;
}

.categories {
  width: 250px;
  background-color: #d7e6cd;
  padding: 30px;
  height: 100vh;
  position: sticky;
  top: 0;
 
}



.categories ul li a.active {
  font-weight: bold;
  color: #2f5c3b;
  text-decoration: underline;
}

.categories h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}

.categories ul {
  list-style: none;
  padding: 0;
}

.categories ul li {
  margin-bottom: 15px;
}

.categories ul li a {
  text-decoration: none;
  color: #1e392a;
  font-weight: 500;
}

.produits {
  flex: 1;
  padding: 40px;
}

.produits h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  margin-bottom: 30px;
  margin-left: 500px;
}

.categorie {
  margin-bottom: 60px;
}

.categorie h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.grid::-webkit-scrollbar {
  height: 8px;
}
.grid::-webkit-scrollbar-thumb {
  background-color: #2f5c3b;
  border-radius: 10px;
}


.produit {
  background-color: #d7e6cd;
  padding: 20px;
  border-radius: 15px;
  width: 210px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produit img {
  width: 96%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.produit img:hover{
  width: 100%;
}

.produit h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.produit p {
  font-size: 16px;
  margin: 5px 0 15px;
}

.add-to-cart {
  background-color: #2f5c3b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 33% 43% 45% 39% / 59% 64% 42% 67%    ;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.add-to-cart:hover {
  background-color: #244931;
}

/* Animation bouton panier */
.add-to-cart.animate {
  animation: pop 0.4s ease;
}

@keyframes pop {
  0% { transform: scale(1); background-color: #2f5c3b; }
  50% { transform: scale(1.2); background-color: #3a7748; }
  100% { transform: scale(1); background-color: #2f5c3b; }
}


.produit {
  position: relative;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff4d4d;
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}
/*Animation "pop" au clic sur "Ajouter au panier"*/

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.add-to-cart.pop-effect {
  animation: pop 0.3s ease;
}

