body{
    padding: 0;
    margin: 0;
}
.navg{
    height: 60px;
    width: 100%;
    background-color: #E8D44D;
    justify-content: center;
    display:flex;
    align-items: center;
}
.logo{
    font-size: 45px;
    color: black;
    margin-right: 600px;
}
a{
    text-decoration: none;
    color: rgb(45, 44, 44);
    font-size: 20px;
    margin-right: 20px;
}
.search{
    margin-left: 60px;
}
a:hover{
    color: white ;
}
.search:hover{
    color: white;
}